
$tablet: 767px;
$desktop: 1024px;
$max-width: 1120px;
$section-margin: 80px;



$fontProgrammerSection: 'Lucida Sans',
'Lucida Sans Regular',
'Lucida Grande',
'Lucida Sans Unicode',
Geneva,
Verdana,
sans-serif;
$fontColorProgrammer: #555555;